# Desarrollo local (cada dev)
DATABASE_URL="postgresql://userexample:passwordexample@localhost:5432/dbnameexample?schema=public"
JWT_SECRET="unaclaveseguraejemplo"
JWT_EXPIRES_IN="xh"           
BCRYPT_ROUNDS="x" 

POSTGRES_USER=userexample
POSTGRES_PASSWORD=passwordexample
POSTGRES_DB=dbnameexample
POSTGRES_PORT=0000

PORT=3000